# Salin file ini menjadi .env.local untuk pengembangan lokal.
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
SESSION_SECRET=ganti-dengan-rangkaian-acak-minimal-32-karakter
FACE_DATA_SECRET=ganti-dengan-kunci-enkripsi-biometrik-minimal-32-karakter
REGISTRATION_PRIMARY_CODE=ganti-dengan-kode-primary-dpt-minimal-8-karakter


DATABASE_URL=postgresql://neondb_owner:npg_QVuRI4df3wzK@ep-old-bird-b33dfqzj-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=B7mREnsGYs4nn4wXlGx4ymJqsZf0MQ-VTsb9g50WBpY
FACE_DATA_SECRET=O99JyBBPhE892v41zlWrAhwGqDs73nGY6ZgMBmyPnSE